footer.footer 
    .footer__main
        .footer__wrapp
            .footer__first-column 
                a(href="#")
                    img(src="img/logo.png", alt="#")
                p.footer__first-column-text Duis aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore eu fugiat <br> nulla pariatur. 
            .footer__second-column  
                nav.menu-footer
                    ul.menu-footer__list 
                        li.menu-footer__item 
                            a(href="#") Про нас 
                        li.menu-footer__item 
                            a(href="#") Портфоліо
                        li.menu-footer__item 
                            a(href="#")  Етапи роботи 
            .footer__third-column
                .footer__contact 
                    .footer__adress 
                        span.country УКРАЇНА
                        span.address , М.ЛЬВІВ, <br> вул. Зелена 230
                    .footer__phone 
                        p (097)857-70-47
            .footer__social-item-wrapp 
                a(href="#")
                    img(src="img/instagram.png", alt="#")
                a(href="#")
                    img(src="img/facebook.png", alt="#")
                a(href="#")
                    img(src="img/linkedin.png", alt="#")
    .footer__line
    .footer__bottom 
        .footer__wrapp
            p.footer__bottom-text 2020 © Come Back Agency. All Rights Reserved.

        