header.header 
    .header__top
        .container
            .header__contact 
                .header__phone 
                    p.header__phone-1 +38 (067) 467-37-67
                    p.header__phone-2 +38 (067) 467-37-67
                .header__social 
                    a.header__social-link(href="#") 
                        img(src="img/linkedin.svg", alt="#")
                    a.header__social-link(href="#") 
                        img(src="img/facebook.svg", alt="#")
                    a.header__social-link(href="#") 
                        img(src="img/instagram.svg", alt="#")
    .header__main
        .container
            .header__logo 
                a.header__logo-link(href="#")
                    img(src="img/logo.png", alt="#")
            nav.header__menu.menu
                li.menu__list 
                    ul.menu__list-item
                        a.menu__list-item-link(href="#about") Про нас  
                    ul.menu__list-item
                        a.menu__list-item-link(href="#coments") Відгуки
                    ul.menu__list-item
                        a.menu__list-item-link(href="#") Ціни
                    ul.menu__list-item
                        a.menu__list-item-link(href="#portfolio") Наші роботи
                    ul.menu__list-item
                        a.menu__list-item-link(href="#contact") Контакти
            button.header__button
                p.header__button-text Замовити дзвінок
            .burger
