section.home 
    .home__block
        .home__main 
            h3.home__title Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. 
            p.home__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum eros arcu, at <br> aliquet tortor vestibulum ut. Quisque sed libero nec nulla pulvinar pharetra. Aliquam porttitor <br> justo lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet quam.
            button.home__button 
                p.home__button-text Залишити заявку
    .home__bottom 
        .home__container 
            .home__items 
                .home__item     
                    p.home__item-text Фіксований <br> кошторис
                .home__item     
                    p.home__item-text Працюємо без <br> авансів
                .home__item     
                    p.home__item-text Щотижнева <br> звітність робочого <br> процесу
                .home__item     
                    p.home__item-text Здача роботи у <br> зазначені <br> терміни
                .home__item     
                    p.home__item-text Гарантія на <br> роботи