section.portfolio#portfolio
    h4.portfolio__before-title портфоліо
    h2.portfolio__title Наші роботи
    .portfolio__block-wrapp 
        .portfolio__name-wrapp 
            .portfolio__name 
                h3.portfolio__name-title Назва проекта
                p.portfolio__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum eros arcu, at aliquet tortor vestibulum ut. Quisque sed libero nec nulla pulvinar pharetra. Aliquam porttitor justo lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus id quam nulla. 
                p.portfolio__about <span>Термін ремонта:</span> 21 день
                p.portfolio__about <span>Площа:</span> 81 м<sup>2</sup>
        .portfolio__block
            .portfolio__slider.swiper-container
                .swiper-wrapper 
                    .swiper-slide
                        img(src="img/for-slider.png", alt="#")
                    .swiper-slide
                        img(src="img/for-slider.png", alt="#")
                    .swiper-slide
                        img(src="img/for-slider.png", alt="#")
                    .swiper-slide
                        img(src="img/for-slider.png", alt="#")
            .mini-slider.swiper-container 
                .mini-slider__wrapper.swiper-wrapper 
                    .mini-slider__slide.swiper-slide
                        img(src="img/for-slider.png", alt="#")
                    .mini-slider__slide.swiper-slide
                        img(src="img/for-slider.png", alt="#")
                    .mini-slider__slide.swiper-slide
                        img(src="img/for-slider.png", alt="#")
                    .mini-slider__slide.swiper-slide
                        img(src="img/for-slider.png", alt="#")

            .background
                .bullets 
                    .swiper-pagination
                .arrow
                    .prev 
                        img(src="img/prev.png", alt="#")
                    .next 
                        img(src="img/next.png", alt="#")


