section.we-work 
    .we-work__wrapper 
        h5.we-work__title-before етапи роботи
        h2.we-work__title Як ми працюємо?
        .we-work__block 
            .we-work__item
                p.we-work__circle.circle1 
                    span 1
                p.we-work__text Виїзд майстра на <br> обєкт для замірів
            .we-work__item
                p.we-work__circle.circle2 
                    span 2
                p.we-work__text Складання кошторису згідно попередніх домовлень
            .we-work__item
                p.we-work__circle.circle3 
                    span 3
                p.we-work__text Підписання договору
            .we-work__item
                p.we-work__circle.circle4 
                    span 4
                p.we-work__text Закупівля матеріалу
            .we-work__item
                p.we-work__circle.circle5 
                    span 5
                p.we-work__text Вчасна здача <br> проекту
            .we-work__item
                p.we-work__circle.circle6 
                    span 6
                p.we-work__text.work-left-text Щасливі замовники
            
            
